<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
<script src="/javascripts/utils/connectivityCheck.js"></script>
<script src="/javascripts/user/userScript.js"></script>
<script src="/javascripts/chat/chatScript.js"></script>
<script src="/javascripts/chat/chatRenderScript.js"></script>
<script src="/javascripts/chat/chatIDBUtility.js"></script>
<script src="/javascripts/user/userRenderScript.js"></script>
<script src="/tw-elements/dist/js/tw-elements.umd.min.js"></script>

<!-- Import compiled site styles (includes chat styles) -->
<link rel="stylesheet" href="/css/outputStyles.css">

<script>
    var plantId = '<%= data._id %>';
    var loggedInUser = '<%= username || data.nickname || "Guest" %>';
    window.onload = init;
</script>

<div class="flex flex-col h-full">
    <!-- Chat Header -->
    <div class="bg-gray-100 p-4 rounded-t-lg border border-gray-300">
        <div class="flex justify-between items-center">
            <div class="text-xl font-medium">Chat on: <%= data.plantName %></div>
            <div class="flex items-center border-2 border-gray-700 border-opacity-100 rounded-full px-3 py-1">
                <span id="chatStatusDot" class="w-2 h-2 bg-red-500 rounded-full mr-2"></span>
                <span id="chatStatusText" class="text-base">Offline</span>
            </div>
        </div>
    </div>

    <!-- Chat Messages -->
    <div class="flex-1 overflow-y-auto p-4 space-y-4" id="chatMessages">
        <!-- Messages will be rendered here -->
    </div>

    <!-- Chat Input -->
    <div class="mt-auto border-t bg-white">
        <form id="chatForm">
            <%- include('./chatInputComponent.ejs') %>
        </form>
    </div>
</div>