@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
    html {
        @apply text-gray-800;
        @apply bg-white;
    }
    html.dark {
        @apply text-neutral-50;
        @apply bg-gray-900;
    }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
    .line-clamp-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    
    .line-clamp-3 {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

p {
    @apply leading-[1.6];
}